/* proprietà comuni */

.ex-1-square, .ex-2-square {
    transition: 2s;
}

.ex-3-square, .ex-4-square, .ex-5-square {
    transition: 1s;
}

.ex-7-img, .ex-8-img, .ex-9-img {
    transition: 4s;
}

.ex-8-img:hover, .ex-9-img:hover {
    border-radius: 20%;
}
/* quadrati */

.ex-1-square:hover {
    background-color: #FF0000;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square:hover {
    opacity: 0%;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.1);
}

/*------------------------*/

/* immagini */

.ex-6-img:hover, .ex-7-img:hover {
    filter: grayscale();
}

.ex-8-img:hover {
    filter:invert();
}

.ex-9-img:hover {
    transform: scale(1.5);
}
